---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis alias ab
    labore earum corrupti, nesciunt similique. Omnis, non, labore voluptatem
    voluptatibus corporis aperiam dicta veritatis molestiae eveniet illum, quae
    beatae!
  </p>
</DefaultLayout>
