---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Timeline from "@components/Timeline.astro";
import type { Post } from "@utils/types";

const mds = await Astro.glob<Post>("./posts/*.md");
const posts = mds
  .map((m) => m.frontmatter)
  .sort((a, b) => Date.parse(b.date) - Date.parse(a.date));
---

<DefaultLayout title="Welcome to Astro.">
  <main>
    <Timeline posts={posts} />
  </main>
</DefaultLayout>
