---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import Timeline from "@components/Timeline.astro";
import type { Post } from "@utils/types";
import blogMeta from "../config";

const mds = await Astro.glob<Post>("./posts/*.md");
const posts = mds
  .map((m) => ({ ...m.frontmatter, url: m.url }))
  .sort((a, b) => Date.parse(b.date) - Date.parse(a.date));
---

<DefaultLayout>
  <title>{blogMeta.titles.posts}</title>
  <main>
    <Timeline posts={posts} />
  </main>
</DefaultLayout>
