---
---

{/* prettier-ignore */}
<footer class="footer footer-center p-4">
  <div>
    <p class="text-xs text-base-content/70">
      Rants and thoughts
      <a class="link" href="https://github.com/eXiga/" target="_blank"> by me,</a> powered by
      <a class="link" href="https://astro.build/" target="_blank"> Astro </a>
    </p>
  </div>
</footer>
