---
import blogMeta from "../config";
---

<div class="navbar shadow">
  <div class="flex-1">
    <a href="/">
      <img src={blogMeta.logo} alt="Logo" />
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu">
      <li>
        <a
          role="button"
          href="/about"
          class="btn btn-secondary btn-outline border-2 rounded-full no-animation"
          >About</a
        >
      </li>
    </ul>
  </div>
</div>
