---
import type { Post } from "@utils/types";
import PostPreview from "@components/PostPreview.astro";
import PostEmoji from "@components/PostEmoji.astro";
import { formatDateString } from "@utils/utils";

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<ol class="relative border-l border-gray-300 ml-5 mt-5">
  {
    posts.map((post, index) => (
      <li class="mb-10 ml-6">
        <PostEmoji />
        <PostPreview url={post.url} description={post.description} date={formatDateString(post.date)} title={post.title} isLatest={ index === 0 }/>
      </li>
    ))
  }
</ol>
