---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="flex flex-col items-center h-screen bg-base-100">
    <Navbar />
    <div class="w-full flex-grow">
      <div class="p-4 pb-10">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
